* @awesome-jellyfin/review

/assets/clients/clients.d/feishin.yaml @jeffvli
/assets/clients/clients.d/streamyfin.yaml @fredrikburmester @retardgerman
/assets/clients/clients.d/findroid.yaml @jarnedemeulemeester
/assets/clients/clients.d/finamp.yaml @jmshrv
/assets/clients/clients.d/wholphin.yaml @damontecres
/assets/clients/clients.d/moonfin.yaml @RadicalMuffinMan @jmawet
